button:active {
	transform: scale(0.99);
}

button.primary, button.secondary {
	border-radius: 2px;
}

button.primary {
	font-family: 'Graphick LCG Medium';
	background-color: #EEF91C;
	box-shadow: 0 0 2px 1px #EEF91C
}

button.secondary {
	font-family: 'Graphick LCG Regular';
	background-color: transparent;
	color: black;
	border: 1px solid #767677;
}

button.big {
	font-size: 1rem;
	padding: 13px 30px;
}

button.text {
	position: relative;
	font-family: 'Graphick LCG Medium';
}

button.text::before {
	content: '';
	display: block;
	position: absolute;
	background-color: #EEF91C;
	height: 6px;
	width: 100%;
	bottom: 0px;
	z-index: -1;
} 