.forgot-password {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	min-height: 100vh;
}

.forgot-password .site-logo {
	position: absolute;
	top: 30px;
	left: 50px;
	z-index: 1;
}

.forgot-password section {
	display: flex;
	align-items: center;
} 

.forgot-password section.form {
	padding: 0 20px;
}

.forgot-password section.form .content {
	max-width: 355px;
	text-align: center;
	padding: 25px;
}

.forgot-password section.image button {
	width: 230px;
}

