.subscribe {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	min-height: 100vh;
}

.subscribe .site-logo {
	position: absolute;
	top: 30px;
	left: 50px;
	z-index: 1;
}

.subscribe .site-logo a {
	color: white;
}

.subscribe section {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.subscribe section.image {
	position: relative;
	background-color: rgba(0,0,0,0.8);
	background-size: cover;
	background-position: center;
}

.subscribe section.image .content {
	padding: 0 46px;
	z-index: 1;
	color: white;
}

.subscribe section.image button {
	width: 230px;
	color: white;
	border-color: white;
}

.subscribe section.form .content {
	width: 355px;
	padding: 20px;
}

.subscribe section.form button.secondary {
	display: none;
}

@media screen and (max-width: 900px) {
	.subscribe section.image {
		display: none;
	}

	.subscribe section.form button.secondary {
		display: block;
	}

	.subscribe .col-50 {
		width: 100%;
	}
}